<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="FileLength"><property name="max" value="400"/></module>

    <module name="TreeWalker">
        <module name="MethodLength"><property name="max" value="40"/></module>
        <module name="LineLength"><property name="max" value="120"/></module>
        <module name="ParameterNumber"><property name="max" value="4"/></module>
        <module name="CyclomaticComplexity"><property name="max" value="8"/></module>
        <module name="NestedIfDepth"><property name="max" value="3"/></module>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- Checks for Naming Conventions.                  -->
        <!-- See http://checkstyle.sf.net/config_naming.html -->
        <module name="MethodName"/>
        <module name="PackageName"/>

        <!-- Checks for whitespace                               -->
        <!-- See http://checkstyle.sf.net/config_whitespace.html -->
        <module name="EmptyForIteratorPad" />
        <module name="GenericWhitespace" />
        <module name="MethodParamPad" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="OperatorWrap" />
        <module name="ParenPad" />
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround">
            <property name="tokens" value="ASSIGN, EQUAL, NOT_EQUAL, COLON"/>
        </module>

        <!-- Checks for blocks. You know, those {}'s         -->
        <!-- See http://checkstyle.sf.net/config_blocks.html -->
        <!--<module name="AvoidNestedBlocks"/>-->
        <module name="NeedBraces"/>
        <module name="FileContentsHolder"/> <!-- Required by comment suppression filters -->
    </module>

    <!-- Space after 'for' and 'if' -->
    <module name="RegexpSingleline">
        <property name="format" value="^\s*(for|if)[^ ]\("/>
        <property name="message" value="Space needed before opening parenthesis."/>
    </module>

    <module name="RegexpMultiline">
        <property name="format" value="\r?\n[ \t\x0B\f]*\r?\n[ \t\x0B\f]*\r?\n"/>
        <property name="fileExtensions" value="java"/>
        <property name="message" value="Two consecutive empty lines"/>
    </module>
</module>